.show_validation_errors {
    display:block;
}
.hide_validation_errors {
    display:none;
}

.navbar-brand img {
    height: 40px;
}

.content {
    margin-top: 100px;
}

.td_centered{
    text-align: center;
}

#ssh_output {
    width: 100%;
    height: 150px;
    background-color: #000;
    color: #0F0;
}